.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.text {
    white-space: pre-wrap;
}

.measurer {
    position: absolute;
    visibility: hidden;
}